.madras {
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(
            45deg,
            transparent 5px,
            hsla(197, 62%, 11%, 0.5) 5px,
            hsla(197, 62%, 11%, 0.5) 10px,
            hsla(5, 53%, 63%, 0) 10px,
            hsla(5, 53%, 63%, 0) 35px,
            hsla(5, 53%, 63%, 0.5) 35px,
            hsla(5, 53%, 63%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 50px,
            hsla(197, 62%, 11%, 0) 50px,
            hsla(197, 62%, 11%, 0) 60px,
            hsla(5, 53%, 63%, 0.5) 60px,
            hsla(5, 53%, 63%, 0.5) 70px,
            hsla(35, 91%, 65%, 0.5) 70px,
            hsla(35, 91%, 65%, 0.5) 80px,
            hsla(35, 91%, 65%, 0) 80px,
            hsla(35, 91%, 65%, 0) 90px,
            hsla(5, 53%, 63%, 0.5) 90px,
            hsla(5, 53%, 63%, 0.5) 110px,
            hsla(5, 53%, 63%, 0) 110px,
            hsla(5, 53%, 63%, 0) 120px,
            hsla(197, 62%, 11%, 0.5) 120px,
            hsla(197, 62%, 11%, 0.5) 140px
        ),
        repeating-linear-gradient(
            135deg,
            transparent 5px,
            hsla(197, 62%, 11%, 0.5) 5px,
            hsla(197, 62%, 11%, 0.5) 10px,
            hsla(5, 53%, 63%, 0) 10px,
            hsla(5, 53%, 63%, 0) 35px,
            hsla(5, 53%, 63%, 0.5) 35px,
            hsla(5, 53%, 63%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 50px,
            hsla(197, 62%, 11%, 0) 50px,
            hsla(197, 62%, 11%, 0) 60px,
            hsla(5, 53%, 63%, 0.5) 60px,
            hsla(5, 53%, 63%, 0.5) 70px,
            hsla(35, 91%, 65%, 0.5) 70px,
            hsla(35, 91%, 65%, 0.5) 80px,
            hsla(35, 91%, 65%, 0) 80px,
            hsla(35, 91%, 65%, 0) 90px,
            hsla(5, 53%, 63%, 0.5) 90px,
            hsla(5, 53%, 63%, 0.5) 110px,
            hsla(5, 53%, 63%, 0) 110px,
            hsla(5, 53%, 63%, 0) 140px,
            hsla(197, 62%, 11%, 0.5) 140px,
            hsla(197, 62%, 11%, 0.5) 160px
        );
}

.cloud {
    background-color: silver;
    background-image: radial-gradient(
            circle at 100% 150%,
            silver 24%,
            white 24%,
            white 28%,
            silver 28%,
            silver 36%,
            white 36%,
            white 40%,
            transparent 40%,
            transparent
        ),
        radial-gradient(
            circle at 0 150%,
            silver 24%,
            white 24%,
            white 28%,
            silver 28%,
            silver 36%,
            white 36%,
            white 40%,
            transparent 40%,
            transparent
        ),
        radial-gradient(
            circle at 50% 100%,
            white 10%,
            silver 10%,
            silver 23%,
            white 23%,
            white 30%,
            silver 30%,
            silver 43%,
            white 43%,
            white 50%,
            silver 50%,
            silver 63%,
            white 63%,
            white 71%,
            transparent 71%,
            transparent
        ),
        radial-gradient(
            circle at 100% 50%,
            white 5%,
            silver 5%,
            silver 15%,
            white 15%,
            white 20%,
            silver 20%,
            silver 29%,
            white 29%,
            white 34%,
            silver 34%,
            silver 44%,
            white 44%,
            white 49%,
            transparent 49%,
            transparent
        ),
        radial-gradient(
            circle at 0 50%,
            white 5%,
            silver 5%,
            silver 15%,
            white 15%,
            white 20%,
            silver 20%,
            silver 29%,
            white 29%,
            white 34%,
            silver 34%,
            silver 44%,
            white 44%,
            white 49%,
            transparent 49%,
            transparent
        );
    background-size: 100px 50px;
}

.tartan {
    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(
            transparent,
            transparent 50px,
            rgba(0, 0, 0, 0.4) 50px,
            rgba(0, 0, 0, 0.4) 53px,
            transparent 53px,
            transparent 63px,
            rgba(0, 0, 0, 0.4) 63px,
            rgba(0, 0, 0, 0.4) 66px,
            transparent 66px,
            transparent 116px,
            rgba(0, 0, 0, 0.5) 116px,
            rgba(0, 0, 0, 0.5) 166px,
            rgba(255, 255, 255, 0.2) 166px,
            rgba(255, 255, 255, 0.2) 169px,
            rgba(0, 0, 0, 0.5) 169px,
            rgba(0, 0, 0, 0.5) 179px,
            rgba(255, 255, 255, 0.2) 179px,
            rgba(255, 255, 255, 0.2) 182px,
            rgba(0, 0, 0, 0.5) 182px,
            rgba(0, 0, 0, 0.5) 232px,
            transparent 232px
        ),
        repeating-linear-gradient(
            270deg,
            transparent,
            transparent 50px,
            rgba(0, 0, 0, 0.4) 50px,
            rgba(0, 0, 0, 0.4) 53px,
            transparent 53px,
            transparent 63px,
            rgba(0, 0, 0, 0.4) 63px,
            rgba(0, 0, 0, 0.4) 66px,
            transparent 66px,
            transparent 116px,
            rgba(0, 0, 0, 0.5) 116px,
            rgba(0, 0, 0, 0.5) 166px,
            rgba(255, 255, 255, 0.2) 166px,
            rgba(255, 255, 255, 0.2) 169px,
            rgba(0, 0, 0, 0.5) 169px,
            rgba(0, 0, 0, 0.5) 179px,
            rgba(255, 255, 255, 0.2) 179px,
            rgba(255, 255, 255, 0.2) 182px,
            rgba(0, 0, 0, 0.5) 182px,
            rgba(0, 0, 0, 0.5) 232px,
            transparent 232px
        ),
        repeating-linear-gradient(
            125deg,
            transparent,
            transparent 2px,
            rgba(0, 0, 0, 0.2) 2px,
            rgba(0, 0, 0, 0.2) 3px,
            transparent 3px,
            transparent 5px,
            rgba(0, 0, 0, 0.2) 5px
        );
}

.weave {
    background:
        linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
        linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
        linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
    background-size: 25px 25px;
}

.weave-square {
    background:
        linear-gradient(
            135deg,
            #708090 21px,
            #d9ecff 22px,
            #d9ecff 24px,
            transparent 24px,
            transparent 67px,
            #d9ecff 67px,
            #d9ecff 69px,
            transparent 69px
        ),
        linear-gradient(
                225deg,
                #708090 21px,
                #d9ecff 22px,
                #d9ecff 24px,
                transparent 24px,
                transparent 67px,
                #d9ecff 67px,
                #d9ecff 69px,
                transparent 69px
            )
            0 64px;
    background-color: #708090;
    background-size: 64px 128px;
}

.cross-dots {
    background: radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0),
        linear-gradient(
            45deg,
            transparent 74px,
            transparent 75px,
            #a4a4a4 75px,
            #a4a4a4 76px,
            transparent 77px,
            transparent 109px
        ),
        linear-gradient(
            -45deg,
            transparent 75px,
            transparent 76px,
            #a4a4a4 76px,
            #a4a4a4 77px,
            transparent 78px,
            transparent 109px
        ),
        #fff;
    background-size:
        109px 109px,
        109px 109px,
        100% 6px,
        109px 109px,
        109px 109px;
    background-position:
        54px 55px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px;
}

.arrows {
    background:
        linear-gradient(45deg, #92baac 45px, transparent 45px) 64px 64px,
        linear-gradient(
            45deg,
            #92baac 45px,
            transparent 45px,
            transparent 91px,
            #e1ebbd 91px,
            #e1ebbd 135px,
            transparent 135px
        ),
        linear-gradient(
            -45deg,
            #92baac 23px,
            transparent 23px,
            transparent 68px,
            #92baac 68px,
            #92baac 113px,
            transparent 113px,
            transparent 158px,
            #92baac 158px
        );
    background-color: #e1ebbd;
    background-size: 128px 128px;
}

.zip {
    background:
        linear-gradient(135deg, #eceddc 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #eceddc 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #eceddc 25%, transparent 25%),
        linear-gradient(45deg, #eceddc 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #ec173a;
}

.argyle {
    background-color: #6d695c;
    background-image: repeating-linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1) 1px,
            transparent 1px,
            transparent 60px
        ),
        repeating-linear-gradient(
            60deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1) 1px,
            transparent 1px,
            transparent 60px
        ),
        linear-gradient(
            60deg,
            rgba(0, 0, 0, 0.1) 25%,
            transparent 25%,
            transparent 75%,
            rgba(0, 0, 0, 0.1) 75%,
            rgba(0, 0, 0, 0.1)
        ),
        linear-gradient(
            120deg,
            rgba(0, 0, 0, 0.1) 25%,
            transparent 25%,
            transparent 75%,
            rgba(0, 0, 0, 0.1) 75%,
            rgba(0, 0, 0, 0.1)
        );
    background-size: 70px 120px;
}

.brady {
    background-image: radial-gradient(
            closest-side,
            transparent 0%,
            transparent 75%,
            #b6cc66 76%,
            #b6cc66 85%,
            #edffdb 86%,
            #edffdb 94%,
            #ffffff 95%,
            #ffffff 103%,
            #d9e6a7 104%,
            #d9e6a7 112%,
            #798b3c 113%,
            #798b3c 121%,
            #ffffff 122%,
            #ffffff 130%,
            #e0ead7 131%,
            #e0ead7 140%
        ),
        radial-gradient(
            closest-side,
            transparent 0%,
            transparent 75%,
            #b6cc66 76%,
            #b6cc66 85%,
            #edffdb 86%,
            #edffdb 94%,
            #ffffff 95%,
            #ffffff 103%,
            #d9e6a7 104%,
            #d9e6a7 112%,
            #798b3c 113%,
            #798b3c 121%,
            #ffffff 122%,
            #ffffff 130%,
            #e0ead7 131%,
            #e0ead7 140%
        );
    background-size: 110px 110px;
    background-color: #c8d3a7;
    background-position:
        0 0,
        55px 55px;
}

.xian {
    background-color: silver;
    background-image: radial-gradient(
            circle at 100% 150%,
            silver 24%,
            white 24%,
            white 28%,
            silver 28%,
            silver 36%,
            white 36%,
            white 40%,
            transparent 40%,
            transparent
        ),
        radial-gradient(
            circle at 0 150%,
            silver 24%,
            white 24%,
            white 28%,
            silver 28%,
            silver 36%,
            white 36%,
            white 40%,
            transparent 40%,
            transparent
        ),
        radial-gradient(
            circle at 50% 100%,
            white 10%,
            silver 10%,
            silver 23%,
            white 23%,
            white 30%,
            silver 30%,
            silver 43%,
            white 43%,
            white 50%,
            silver 50%,
            silver 63%,
            white 63%,
            white 71%,
            transparent 71%,
            transparent
        ),
        radial-gradient(
            circle at 100% 50%,
            white 5%,
            silver 5%,
            silver 15%,
            white 15%,
            white 20%,
            silver 20%,
            silver 29%,
            white 29%,
            white 34%,
            silver 34%,
            silver 44%,
            white 44%,
            white 49%,
            transparent 49%,
            transparent
        ),
        radial-gradient(
            circle at 0 50%,
            white 5%,
            silver 5%,
            silver 15%,
            white 15%,
            white 20%,
            silver 20%,
            silver 29%,
            white 29%,
            white 34%,
            silver 34%,
            silver 44%,
            white 44%,
            white 49%,
            transparent 49%,
            transparent
        );
    background-size: 100px 50px;
}

.shippo {
    background-color: #def;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%),
        radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%);
    background-size: 80px 80px;
    background-position:
        0 0,
        40px 40px;
}

.stripes {
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 50%, transparent 50%),
        linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
        linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
        linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}

.brick {
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
        linear-gradient(155deg, #d00 23px, transparent 23px),
        linear-gradient(335deg, #b00 23px, transparent 23px),
        linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position:
        0px 2px,
        4px 35px,
        29px 31px,
        34px 6px;
}

.carbon {
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(
            #1d1d1d 25%,
            #1a1a1a 25%,
            #1a1a1a 50%,
            transparent 50%,
            transparent 75%,
            #242424 75%,
            #242424
        );
    background-color: #131313;
    background-size: 20px 20px;
}

.blue-print {
    background-color: #269;
    background-image: linear-gradient(white 2px, transparent 2px),
        linear-gradient(90deg, white 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size:
        100px 100px,
        100px 100px,
        20px 20px,
        20px 20px;
    background-position:
        -2px -2px,
        -2px -2px,
        -1px -1px,
        -1px -1px;
}

.honey {
    background:
        radial-gradient(circle farthest-side at 0% 50%, #fb1 23.5%, rgba(240, 166, 17, 0) 0) 21px
            30px,
        radial-gradient(circle farthest-side at 0% 50%, #b71 24%, rgba(240, 166, 17, 0) 0) 19px 30px,
        linear-gradient(#fb1 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #fb1 0) 0 0,
        linear-gradient(
                150deg,
                #fb1 24%,
                #b71 0,
                #b71 26%,
                rgba(240, 166, 17, 0) 0,
                rgba(240, 166, 17, 0) 74%,
                #b71 0,
                #b71 76%,
                #fb1 0
            )
            0 0,
        linear-gradient(
                30deg,
                #fb1 24%,
                #b71 0,
                #b71 26%,
                rgba(240, 166, 17, 0) 0,
                rgba(240, 166, 17, 0) 74%,
                #b71 0,
                #b71 76%,
                #fb1 0
            )
            0 0,
        linear-gradient(90deg, #b71 2%, #fb1 0, #fb1 98%, #b71 0%) 0 0 #fb1;
    background-size: 40px 60px;
}
