:root {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  line-height: var(--line-height);
  font-family: var(--font-family);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --scrollbar-bg: transparent;
  --scrollbar-thumb: var(--text-title);
}

body {
  margin: 0;
  padding: 0;
}

#root {
  color-scheme: light;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #eb0249 !important;
}

* {
  scrollbar-width: 10px;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #333 !important;
  background-color: transparent !important;
  background-image: none !important;
  color: inherit !important;
}

.MuiCardContent-root:hover .text-small {
  color: var(--border-color-primary)
}

.table-operations .MuiSvgIcon-root {
  color: color-mix(in srgb, var(--text-primary) 80%, var(--background-secondary))
}

.grid-table {
  min-height: 100%
}

.handsontableEditor {
  box-shadow: var(--box-shadow-1);
}

.ht-theme-main {
  --ht-accent-color: #2c78d4;
  --ht-foreground-color: #1a2533;
  --ht-background-color: #f8f9fa;
  --ht-row-header-odd-background-color: #f8f9fa;
  --ht-row-header-even-background-color: #e9ecef;
  --ht-row-cell-odd-background-color: #f8f9fa;
  --ht-row-cell-even-background-color: #e9ecef;
  --ht-cell-horizontal-border-color: #cbd5e0;
  --ht-cell-vertical-border-color: #cbd5e0;
  --ht-wrapper-border-color: #a0aec0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
  appearance: textfield;
}

.field-radio,
.field-checkbox,
.field-switch {
  margin-top: -6px
}